.fieldContainer {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.label {
  font-weight: 500;
  font-size: 12px;
  color: #374151;
}

.input {
  width: 100%;
  height: 30px;
  padding: 0px 7px;
  font-size: 12px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(41, 84, 106, 0.1);
  outline: none;
  background-color: #fff;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input::placeholder {
  color: #9e9e9e;
  font-size: 12px;
}

.input:disabled {
  background-color: rgb(202, 200, 200);
  cursor: not-allowed;
  border-color: #484747;
  color: #4d4c4c;
  text-overflow: ellipsis;
}

.input:focus {
  border-color: #1976d2; /* MUI blue */
  box-shadow: 0 0 0 1px rgba(25, 118, 210, 0.2);
}

.input.error {
  border-color: #d32f2f;
}

.errorText {
  font-size: 10px;
  color: #d32f2f;
  margin-top: 2px;
  font-weight: 500;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.startIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  color: #9e9e9e;
}

.withIcon {
  padding-left: 40px !important; /* adjust icon space */
}

