.btn {
  margin-right: 10px;
}

h1 {
  font-size: 24px; /* Set the font size */
  color: #333; /* Set the text color */
  margin-bottom: 20px; /* Add margin at the bottom to create space */
}

.container{
  align-items: center;
}

.fixedSize {
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
  margin-left: 50px;
  text-align: center;
  padding-top: 10px;
  /* text-justify: auto; */
}

.textCount{
  color: blueviolet;
  text-align: center;
  margin-left: 2px;
}